.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
}
